.DS_Store
.env
.env.*
!.env.example
*.log
node_modules/
.nuxt/
.output/
.nitro/
.cache/
dist/
server/bin
server/.cache
data/*.xdb
data/*.tmp.xdb
!.gitkeep
web-cnip/node_modules/
web-cnip/.nuxt/
web-cnip/.output/
web-cnip/dist
