APP_PORT=8080
APP_HOST=0.0.0.0
APP_PUBLIC_BASE_URL=http://localhost:8080
APP_ADMIN_TOKEN=change-me
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000

IP2REGION_V4_DB=../data/ip2region_v4.xdb
IP2REGION_V6_DB=../data/ip2region_v6.xdb

IP2REGION_V4_VERSION_URL=https://ip2region.net/api/public/data/offline/ver_latest?t=6cb96dca7d.3e0.69944e4b.OF002@GJB
IP2REGION_V4_DOWNLOAD_URL=https://ip2region.net/api/public/data/offline/get_file?t=6cb96dca7d.3e0.69944e4b.OF002@GJB&v=v001@full
IP2REGION_V6_VERSION_URL=https://ip2region.net/api/public/data/offline/ver_latest?t=646a0d6627.3e0.69944e81.OS002@GJB
IP2REGION_V6_DOWNLOAD_URL=https://ip2region.net/api/public/data/offline/get_file?t=646a0d6627.3e0.69944e81.OS002@GJB&v=v001@full

ENHANCE_ENABLED=false
ENHANCE_API_BASE=https://pro.ip-api.com/json
ENHANCE_API_KEY=change-me
ENHANCE_API_FIELDS=status,message,continent,continentCode,country,countryCode,countryCode3,region,regionName,city,district,zip,lat,lon,timezone,offset,currentTime,currency,callingCode,isp,org,as,asname,reverse,mobile,proxy,hosting,query
ENHANCE_API_LANG=zh-CN
ENHANCE_TIMEOUT=5s

UPDATE_ENABLED=true
UPDATE_TIMEZONE=Asia/Shanghai
UPDATE_TIMEOUT=10m
UPDATE_USER_AGENT=ip2region-lookup/1.0
