VITE_API_BASE=/api
VITE_DOCS_BASE=https://api.cnip.io
VITE_TILE_BLUE_LIGHT=https://map.bluecdn.com/styles/positron/{z}/{x}/{y}@2x.png
VITE_TILE_BLUE_DARK=https://map.bluecdn.com/styles/dark-matter/{z}/{x}/{y}@2x.png
VITE_TILE_ROAD=https://mt1.google.com/vt/lyrs=m&x={x}&y={y}&z={z}&hl=zh-CN&scale=2
VITE_TILE_SATELLITE=https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}&scale=2
VITE_TILE_TERRAIN=https://mt1.google.com/vt/lyrs=p&x={x}&y={y}&z={z}&hl=zh-CN&scale=2
