NUXT_PUBLIC_API_BASE=https://api.ip2region.io
NUXT_PUBLIC_MAP_BASE_URL=https://mapbox.mapcdn.io
NUXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiZ2VudHBhbiIsImEiOiJjbXA0aWo4eXIwYWNwMnRxencxb2h5c3V1In0.bAmK-wqU5nFOtbsBKNAr3A
